{% extends 'base.html' %}

{% block content %}

<div class="jumbotron jumbotron-fluid mt-5">
  <div class="container">
    <img src="static/images/hasnain.gif" class="rounded float-right" alt="...">
    <h1 class="display-4">Hasnain Ansari</h1>
    <p class="lead  mt-5">This website is for learning purpose only .. if you have any doubt or any questions regarding this website .. you are most welcome to contact section where you can directly send message to us.
    And i'll answer you definitily.</p>
    <a class="btn btn-outline-primary mt-3" href="/contact" role="button">Contact Us</a>
  </div>
</div>

{% endblock  %}