{% extends 'base.html' %}

{% block title %}
| about
{% endblock title %}
{% block content %}
<style>
  
 @media screen and (max-width: 411px) {
   .hd1{
      font-size:1.7rem;
      
    }
   .hd{
      font-size:2.2rem;
      
    }
   .pd, .pam{
      font-size:.9rem;
      
    }
    #parat{
      font-size:.8rem;
    }
    .chhota{
      max-height:10rem;
    }
 }
</style>
<div class="jumbotron jumbotron-fluid mt-4 " style="background-color:black;">
  <div class="container">
    <h1 class="display-4 text-white mt-4 text-center hd">The Modern E-Exam</h1>
    <p class=" text-white text-center pd">This Website Is For Learning Purpose</p>
  </div>
</div>

<div class="container-fluid text-justify">
  <div class="row">

    <div class="col-7">
      <h1 class="display-4 text-danger hd1"style="text-shadow:2px 5px 5px red">About Us</h1>
      <hr>
      <p class="mt-4 pam">Online exams help to overcome the challenge of setting up physical test conducting locations. This not only helps to minimize the resources, i.e, time, cost of setting up and the need for human proctors but also speeds up the entire process of examination. It is accessible for anyone and from anywhere with the help of an internet connection.
We all are yearning for a system that instills our faith in examinations. Quite clearly, we are losing our confidence in the current pen-paper assessments, which appears to be no longer fit perfectely.This fully automated system evaluates the examinees thoroughly and presents the result in less time. Our platform is highly scalable and secure. Best of all, the website will let you post images & videos which can also be deleted if it is not useful. One who visits the website are also being updated with the current news which make this medium quite popular among examinees.
This online platform don’t require you to rent a class or hire someone to invigilate candidates manually, with online exam procting software you can amp up the joy of conducting online exams. Students love the prospect of taking exams from the comfort of their home or office. Even participants from remote areas can attend the exam. Moreover, there is no scope of question paper leaks as every student gets a randomly selected set of questions as per the arrangement determined by the paper setter.
</p>
    </div>

    <div class="col">
    <h1 class="display-4 text-success hd1"style="text-shadow:2px 5px 5px green">Our Mission</h1>
      <hr>
      <p class="text-info mt-4 pam">Our mission is to work along and across the changing world of technology to continue on our quest and excellence. Also to focus on the demand of changing environment in the field of education for which we will provide the best output in every work with the help of latest technologies & tends for development and analysis of education by accessing candidate’s knowledge & understanding of the subject. We tend to provide you the service which is easy to assess, secure and user friendly.
With this online exam platform we ensure that assessment setters can go with the paradigm shift from offline to online processes for education, hiring, learning and development. It has been predicted that soon technology will embrace the educational sector, leaving no or very less space for pen-paper. Considering all the advantages of latest technology offered, we designed this website for enhancing & accessing your knowledge by shaping its track and further anyone’s knowledge can also be explored & shared being aware of what’s going on currently around the world.
</p>
    </div>
  </div>

</div>

      <h4 class=" text-info text-center mt-5"style="text-shadow:1px 1px 1px black">Audience</h4>
      <hr>
      <p class=" text-justify text-info mt-4 mb-4 pl-3 pr-3">Custom styling and personal branding are something that creates a strong impression in the minds of examinees. So, users can make the most of this white-labeling feature. It tends a distraction free experience to the candidates utilizing the platform for taking exams. The teacher/examiner can view and track the progress of participants test, audience can see the statistics per user or get a historic view of the group performance.</p>

<hr>

{% comment %} Our images {% endcomment %}
<h2 class="text-center mt-5"style="text-shadow:1px 2px 2px #92dc1c">Mentor Who Guided Us</h2>
<div class="container">
  <div class="row">
    <div class="col-8 mt-5 text-justify">
      <p style=" font-family:URW Chancery L, cursive;" >" Education is our passport to the future, for tomorrow belongs to the people who prepare for it today."</p>
      <p id="parat" >We have sincerely enjoyed the time that We have spent with you during our final year at KKCEM. You have been an excellent friend, teacher, mentor and a great inspiration for us. Given
your very busy schedule, We know that it was not always easy or convenient for you to work with
us, and yet you gave very generously of your time, knowledge, and patience. </p>
  <p class="text-right" style="font-family:Segoe Script">Thank You For Everything...</p>
  </div>
    <div  class="col">
    <a href="static/images/santosh.jpg">
        <img id="img1" src="static/images/santosh.jpg" class="chhota img-fluid mt-5 mb-5" style="width: 370px; height: 220px; box-shadow:2px 2px 8px black;" alt="...">

    </a>
      </div>
  </div>
</div>
<hr>
<h2 class="text-center mt-5"style="text-shadow:1px 2px 2px red">Contributors</h2>
<div class="container p-5">

  <div class="card-deck">
    <div class="card"style="box-shadow:2px 2px 5px black">
      <img src="static/images/john_pic.jpg" class="card-img-top" style="height: 260px;" alt="...">
      <div class="card-body text-center">
        <h5 class="card-title">Hasnain Ansari</h5>
        <small>Sindri,</small>
        <small><b>Roll no: 16009004</b></small>
       <small>
        <a href="https://mail.google.com/">ansarihasnain3598@gmail.com</a>
       </small> 


      </div>
    </div>
    <div class="card"style="box-shadow:2px 2px 5px black">
      <img src="static/images/pratik.jpeg" class="card-img-top" style="height: 260px;" alt="...">
      <div class="card-body text-center">
        <h5 class="card-title">Pratik Chakraborty</h5>
        <small class="text-center">Mugma,</small>
       <small><b>Roll no: 16009011</b></small>   
       <small>
          <a href="https://mail.google.com/">Example@gmail.com</a>
       </small>  


      </div>
    </div>
    <div class="card"style="box-shadow:2px 2px 5px black">
      <img src="static/images/shruti1.jpg"  style="height: 260px;" class="card-img-top" alt="...">
      <div class="card-body text-center">
        <h5 class="card-title ">Shruti Sharma</h5>
        <small>Dhanbad,</small>
       <small><b>Roll no: 16009015</b></small>   
       <small>
           <a href="https://mail.google.com/">Example@gmail.com</a>
       </small> 
      </div>
    </div>
    <div class="card"style="box-shadow:2px 2px 5px black">
      <img src="static/images/user-3.jpeg" class="card-img-top" style="height: 260px;" alt="...">
      <div class="card-body text-center">
        <h5 class="card-title">Sonu Kumar Mandal</h5>
        <small>Nero More,</small>
       <small><b>Roll no: 16009019</b></small>
       <small>
        <a href="https://mail.google.com/">Example@gmail.com</a>
       </small>

      </div>
    </div>
  </div>

</div>


{% endblock  %}