{% extends 'base.html' %}

{% block title %}
| profile
{% endblock title %}
{% block content %}
{% if user.is_authenticated %}

<hr>
<hr>

<h4 class="h4 mt-5 text-center">Please Update Your Profile Pic<b><h2>{{user.username}}</h2></b></h4>
<hr>
<div class = "container mt-5 pl-5 pr-5">

    <form action="editprofile" method="post" enctype="multipart/form-data">

    {% csrf_token %}

    <label for="exampleInputNumber">Please Upload Your Photo</label><br>

    <input type="file" id="myFile" name="profilephoto"><br><br>


  <div class="form-group row">
    <label for="Name" class="col-sm-2 col-form-label">Enter Bio</label>
    <div class="col-sm-10">
      <textarea type="name" name = "bio" placeholder="Enter Your Bio Here" rows="3" class="form-control" id="name"></textarea>
    </div>
  </div>

<button type="submit" class="btn btn-primary mb-3">Update Profile</button>

</div>

{% else %} 
  <div class="container-fluid mt-5 pt-5">

    <div class="jumbotron jumbotron-fluid bg-dark pt-4 pb-4">
    <div class="container">
        <h1 class="display-4 text-white">Hey, Wait</h1>
        <p class="lead text-danger">You Are Not Authorized To Access This Page! Please <b>Login</b> to Access This Section</p>
    </div>
    </div>
</div>
  
  {% endif %}

{% endblock  %}