{% extends "base.html" %}

{% block content %}

    <h1 class="mt-5 text-center pb-4 pt-5" style="text-shadow:1px 2px 4px red">Frequently Asked Questions</h1>
    <hr>
<div class="container text-justify mb-5 mt-4">

    <h5>Q.1 Can the system still work if my broadband connections fails in between a few times?</h5>
    <p><b>Answer -</b> Yes! It will work without asking for registration again.</p>

    <h5>Q.2 Would I face serious problem if bandwidth goes down in between?</h5>
    <p><b>Answer -</b> No!</p>

    <h5>Q.3 What will happen if my laptop fails?</h5>
    <p><b>Answer -</b> Your second cell phone can be used in place of the laptop. But you may have to see the question paper on the small screen of the cell phone and you can still do it.</p>

    <h5>Q.4 Can I write the answers on a paper, take a snap shot and upload?</h5>
    <p><b>Answer -</b> No! For written exam, You have to write answer only in the given textarea.</p>

    <h5>Q.5 How can i access the online test?</h5>
    <p><b>Answer - </b> You need only internet connection and browser.</p>

    <h5>Q.6 What are the new features added?</h5>
    <p><b>Answer - </b> Lots of new features have been added. They include:
    <ul>
    <li>Latest News Section</li>
    <li>Photos & Videos Section, where you can share your thoughts or some useful informations.</li>
    </ul>
    </p>


</div>
{% endblock content %}
