{% extends 'base.html' %}

{% block content %}
{% block title %}
| top news
{% endblock title %}
<div class="container-fluid  pt-5 pl-0 pr-0 text-center">

    <div class="jumbotron jumbotron-fluid pt-5 pb-4" style="background-color:black;">
    <div class="container">
        <h1 class="display-3 text-white">Top News</h1>
        <p class="lead text-white">Here is The News Section, Watch The Latest Headlines On This Page</p>
    </div>
    </div>
</div>



<div class = "container  pl-2 pr-2">

      <!-- News Section -->
<div class="col-sm-3.5">

    <ul class="nav nav-tabs mt-2" id="myTab" role="tablist">
  <li class="nav-item" role="presentation">
    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#toi" role="tab" aria-controls="toi" aria-selected="true">BBC News</a>
  </li>
  <li class="nav-item" role="presentation">
    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#ht" role="tab" aria-controls="ht" aria-selected="false">News 24</a>
  </li>
  <li class="nav-item" role="presentation">
    <a class="nav-link" id="news-tab" data-toggle="tab" href="#news" role="tab" aria-controls="news" aria-selected="false">The-Verge News</a>
  </li>
  <li class="nav-item" role="presentation">
    <a class="nav-link" id="news-tab" data-toggle="tab" href="#newss" role="tab" aria-controls="newss" aria-selected="false">ESPN Sports</a>
  </li>
 
</ul>
<div class="tab-content" id="myTabContent">
  <div class="tab-pane fade show active" id="toi" role="tabpanel" aria-labelledby="home-tab">
  
    <ul class="list-unstyled">
{% for nhead,nbody,nimage,ndate,url in mylist %}
  {% comment %} <li class="media">
          <img src="{{nimage}}" class="align-self-start mr-3 ml-3 mt-3" style="width: 370px; height: 240px;" alt="...">
    <div class="media-body">
      
      <a href = "{{url}}">
      <div class="mh-100 mt-3 mb-1"  style="width: auto;"><h6><b>{{nhead}} </b></h6></div>
      </a>

      <div class="mh-100" style="width: 360px;">At <small>{{ndate}} </small></div>
      
      <div class="mh-100" style="width: auto;">{{nbody}}</div>
    </div>
  </li> {% endcomment %}

<div class="card-group mt-3 mb-3">
  <div class="card">
    <img src="{{nimage}}" class="card-img-top" alt="news_image">
    <div class="card-body">
    <a href = "{{url}}">
      <h5 class="card-title">{{nhead}}</h5>
    </a>  
      <p class="card-text">{{nbody}}</p>
      <p class="card-text"><small class="text-muted">{{ndate}}</small></p>
    </div>
  </div>
</div>
 
  

  {% endfor %}
    
    </ul>
  </div>
  
  <div class="tab-pane fade" id="ht" role="tabpanel" aria-labelledby="profile-tab">
    <ul class="list-unstyled">
{% for nhead,nbody,nimage,ndate,url in mylist1 %}
  {% comment %} <li class="media">
          <img src="{{nimage}}" class="align-self-start mr-3 ml-3 mt-3" style="width: 270px; height: 140px;" alt="...">
    <div class="media-body">
<a href = "{{url}}">
      <div class="mh-100 mt-3 mb-1"  style="width: auto;"><h6><b>{{nhead}} </b></h6></div>
      </a>
      <div class="mh-100" style="width: 360px;">At <small>{{ndate}} </small></div>
      
      <div class="mh-100" style="width: auto;">{{nbody}}</div>
    </div>
  </li>
  <hr class="hr mt-4"> {% endcomment %}

<div class="card-group mt-3 mb-3">
  <div class="card">
    <img src="{{nimage}}" class="card-img-top" alt="news_image">
    <div class="card-body">
    <a href = "{{url}}">
      <h5 class="card-title">{{nhead}}</h5>
    </a>  
      <p class="card-text">{{nbody}}</p>
      <p class="card-text"><small class="text-muted">{{ndate}}</small></p>
    </div>
  </div>
</div>

  {% endfor %}
    
    </ul>
  </div>

 <div class="tab-pane fade" id="news" role="tabpanel" aria-labelledby="profile-tab">
    
{% for nhead,nbody,nimage,ndate,url in mylist2 %}
    
<div class="card-group mt-3 mb-3">
  <div class="card">
    <img src="{{nimage}}" class="card-img-top" alt="news_image">
    <div class="card-body">
    <a href = "{{url}}">
      <h5 class="card-title">{{nhead}}</h5>
    </a>  
      <p class="card-text">{{nbody}}</p>
      <p class="card-text"><small class="text-muted">{{ndate}}</small></p>
    </div>
  </div>
</div>

 {% endfor %}

</div>

 <div class="tab-pane fade" id="newss" role="tabpanel" aria-labelledby="profile-tab">
    
  {% for nhead,nbody,nimage,ndate,url in mylist3 %}
    
<div class="card-group mt-3 mb-3">
  <div class="card">
    <img src="{{nimage}}" class="card-img-top" alt="news_image">
    <div class="card-body">
    <a href = "{{url}}">
      <h5 class="card-title">{{nhead}}</h5>
    </a>  
      <p class="card-text">{{nbody}}</p>
      <p class="card-text"><small class="text-muted">{{ndate}}</small></p>
    </div>
  </div>
</div>

 {% endfor %}

    
</div>



</div>

</div>


</div>


{% endblock  %}

