<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="https://comps.canstockphoto.com/quiz-logo-with-exam-test-clipart-vector_csp52451757.jpg"> 
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

  <title>E-exam | result</title>
</head>
<body>
  
<style>

    #thanks{
        width: 35%;
        height: 5%;
        position: absolute;
        top:3rem;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
    }
   @media screen and (max-width: 411px) {
     .sc{
       font-size:1.4rem;
     }
     .th{
       font-size:1.6rem;
     }
     .hm{
       font-size:.8rem;
     }
    }
</style>

<div class="jumbotron jumbotron-fluid" style="Background-color:black">
  <div class="container">
    <h1 class="text-center text-white th">Thanks alot For Your Valuable Time</h1>
  </div>
</div>
        <div id="thanks">
            <center><h1 class="sc">Your Score : {{score}}</h1></a></center>
        <center class="mt-4 hm"><a href="{% url 'home' %} ">click here for home page</a></center> 
        </div>


</body>
</html>
